@font-face {
    font-family: 'Chinese Rocks Rg';
    src: url('fonts/ChineseRocksRg-Regular.woff') format('woff2'),
        url('fonts/ChineseRocksRg-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Cores

Amarelo: #ffc831
Vermelho: #c23025


*/

* {
    padding: 0;
    margin: auto 0;
    box-sizing: border-box;
    font-family: "Chinese Rocks Rg", sans-serif;
    color: #ffc831;
    text-align: center;
}

/* Configurações básicas de animação */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes bounceIn {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    50% {
        opacity: 0.8;
        transform: scale(1.1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes oscillate {
    0% {
        transform: scale(1) rotate(0deg);
    }
    50% {
        transform: scale(1.05) rotate(2deg); /* Oscila um pouco e gira levemente */
    }
    100% {
        transform: scale(1) rotate(0deg);
    }
}

body {
    position: relative;
    background-image: url('img/bg_site.png');
    background-size: cover;
    background-position: center;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7); /* Ajuste o valor de opacidade conforme necessário */
    z-index: -1; /* Garante que o filtro fique atrás do conteúdo */
}

.navbar {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1030;
    border-bottom: 1px solid white;
    transition: background-color 0.3s ease-in-out;
    background-color: #ffc831;
}

.nav-item a {
    font-size: 22px;
}

.navbar .nav-container {
    margin: 0 auto;
}

.navbar .nav-container button {
    background-color: transparent;
}

@media (max-width: 767px) {
    .navbar .navbar-collapse {
        font-size: 18px;
    }
}

@media (min-width: 768px) {
    .navbar .navbar-collapse {
        font-size: 36px;
    }
}

.navbar .navbar-collapse a {
    color: white;
}

.navbar .navbar-collapse a:hover {
    transition: 0.7s;
}

.hero-image {
    margin: 0 auto;
    align-items: center;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 24px;
    animation: oscillate 1.5s ease-in-out infinite;
}

.hero-image img {
    max-width: 100%;
}

@media (max-width: 676px) {
    .hero-image img {
        max-width: 90%;
    }
}
@media (min-width: 677px) and (max-width: 1240px) {
    .hero-image {
        max-width: 500px;
    }
}
@media (min-width: 1241px) {
    .hero-image {
        max-width: 840px;
    }
}

.novo-show-container {
    align-items: center;
    padding: 12px;
}

.novo-show-container .container {
    margin-bottom: 24px;
    margin-top: 24px;
    padding: 12px;
    background-image: url('img/bg_txt.png');
    background-size: cover; /* Faz com que a imagem cubra todo o container */
    background-position: center center; /* Centraliza a imagem no container */
}

.novo-show-container .container h2 {
    font-size: 40px;
    color: rgb(194, 48, 37);
}

.novo-show-container .container h2 span {
    color: black;
}

.novo-show-container .container button {
    background-color: rgb(194, 48, 37, 0.8);
    clip-path: polygon(
        3% 4%,  97% 2%,   /* Topo ligeiramente irregular */
        98% 50%, 95% 96%, /* Lateral direita com leve variação */
        5% 98%, 2% 50%    /* Lateral esquerda com leve variação */
    );
    color: white;
    font-size: 24px;
    border: none;
}

.novo-show-container .container button:hover {
    transform: scale(120%);
}

.agenda-container h2 {
    padding: 12px;
    background-color: rgb(194, 48, 37, 0.8);
    clip-path: polygon(
        5% 8%,   95% 5%,   /* Topo irregular */
        98% 50%, 90% 95%,  /* Lateral direita com deformação */
        10% 92%, 2% 50%    /* Lateral esquerda com deformação */
    );
}

.agenda-container .container h2 {
    font-size: 40px;
}

.card-show {
    display: flex;
    flex-direction: column; /* Organiza o conteúdo verticalmente */
    align-items: center; /* Centraliza horizontalmente */
    justify-content: center; /* Centraliza verticalmente */
    text-align: center; /* Alinha o texto no centro */
    width: 100%; /* Garante que ocupe toda a largura do container */
}

.card-show-par {
    background-color: rgb(194, 48, 37, 0.8);
    clip-path: polygon(
        5% 8%,   95% 5%,   /* Topo irregular */
        98% 50%, 90% 95%,  /* Lateral direita com deformação */
        10% 92%, 2% 50%    /* Lateral esquerda com deformação */
    );
}

.card-show-impar {
    background-color: rgb(255, 200, 49, 0.8);
    clip-path: polygon(
        5% 8%,   95% 5%,   /* Topo irregular */
        98% 50%, 90% 95%,  /* Lateral direita com deformação */
        10% 92%, 2% 50%    /* Lateral esquerda com deformação */
    );
}

.card-show-impar .info-shows h3,
.card-show-impar .info-shows p,
.card-show-impar .info-shows span {
    color: #c23025;
}

.container-palco {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* Proporção 16:9 */
}

.lea-palco {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#agenda {
    animation: fadeIn 1s;
}

.container h2 {
    font-size: 36px;
}

.container .card-show h3 {
    font-size: 34px;
}

.container .card-show p {
    font-size: 22px;
}

.container .card-show span {
    font-size: 18px;
}

#links img {
    max-width: 38px;
    background-color: rgb(255, 255, 255, 0.8);
}

.botao-link {
    display: flex;
    flex-direction: column;
}