* {
    margin: auto 0;
    box-sizing: border-box;
    font-family: "Archivo Black", sans-serif;
    color: white;
    background-color: rgb(11, 25, 37);
    text-align: center;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1030; /* Fica acima de outros elementos */
    border-bottom: 1px solid white; /* Linha inferior branca */
    transition: background-color 0.3s ease-in-out; /* Suavidade na troca de fundo */
}

/* Adiciona espaçamento no conteúdo para compensar a navbar fixa */
body {
    padding-top: 70px; /* Ajuste baseado na altura da navbar */
}

/* Modifica o estilo da navbar em rolagem */
.navbar.scrolled {
    background-color: rgba(0, 0, 0, 1); /* Fundo totalmente opaco ao rolar */
}

.hero {
    height: 100vh;
    background: url('img/lea_gringa_de_cria.jpg') center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(1); /* Tamanho base */
    transition: transform 0.3s ease-in-out; /* Transição suave */
}

.container h2 {
    font-size: 36px;
}

.container .card-show h3 {
    font-size: 24px;
}

.container .card-show p {
    font-size: 18px;
}

.container .card-show span {
    font-size: 14px;
}

#links img {
    max-width: 38px;
}

.botao-link {
    display: flex;
    flex-direction: column;
}